#Dependencies
**/.DS_store
**/npm-debug.log
node_modules
bower_components
client/lib
server/googleLanguage/googleLanguageKey.json
server/watson/api_key.txt
server/watson/watson_api_key.js
server/trends/googleTrendsCookie.js
server/trends/twitterAPIKey.js
server/aylien/aylien_api_key.js
server/indico/indico_api_key.js
client/node_modules

#PersonalNotes
notes.txt
