body {
  font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}

.component {
  margin-top: 6px;
  padding: 6px;
  background-color: #EEE;
  border: 1px solid #aaa;
  border-radius: 4px;
  width: 350px
}

.component.disabled {
  background-color: #eee;

}

.component[aria-invalid] {
  background-color: #f99;
}

.component[aria-invalid] input {
  color: #900;
}

.component input {

}

.component.disabled input {
  color: #999;
}

.componentTitle {
  font-weight: bold;
  font-size:20px;
}

#radial-graph {
  font-size: 12px;
  margin-left: 4px;
  float: left;
  width: 40%;
}

#emotion-container, #radial-graph {
  margin-top: 0px;
}

/* Watson CSS Tweaks */

.summary-emotion-graph {
  width: 50%;
  float: left;
}

.summary-emotion-graph--row {
  margin-top: 0px;
}

.summary-emotion-graph {
  margin-bottom: 5px;
}


svg.sentiment-svg {
  margin-top: 0px;
}

.politicsDisplay {
  margin-top: 0px;
}

.political div {
  width: 160px;
  text-align: center;
  margin-top: 0px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.Liberal {
  background-color: #086DB2;
}

.Conservative {
  background-color: #E80521;
}

.Libertarian {
  background-color: #ffd000;
}
